*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainheader{
    height: 73px;
    /* background-color: red; */
    border: 2px solid black;
    display: flex;
}

.logo{
    padding-left: 110px;
    padding-top: 6px;
}

.menubar{
    display: flex;
    justify-content: center;
}

.search{
    padding-left: 315px;
    padding-top: 20px;
    
}

.search_button{
    width: 275px;
    padding-left: 25px;
    padding-top: 8px;
    border: 1px solid gray;
    border-radius: 38px;
}

.navbar_items{
    font-size: 24px;
    font-family: sans-serif;
    padding-left: 55px;
    padding-top: 20px;
}

.profilelogo{
    padding-left: 80px;
    padding-top: 22px;
}

.profilelogo>i{
    font-size: 22px;
}

.container{
    background-color: #1e3932;
    color: white;
    display: flex;
    /* justify-content: space-around; */
    height: 67px;
}
.left{
    margin-top: 18px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-left: 118px;
}
.right{
    padding-left: 671px;
}
.right>button{
    color: white;
    width: 96px;
    height: 32px;
    border: 1px solid white;
    margin: 12px;
    padding-right: 2px;
    background-color: #1e3932;
    border-radius: 18px;
}

.categories{
    height: 290px;
    position: relative;
}

.cat_heading{
    position: absolute;
    top: 24px;
    left: 112px;

}
.cat_heading{
    font-size: 35px;
    font-family: sans-serif;
}

.cat_items{
    position: absolute;
    top:80px;
    left: 110px;
    display: flex;
    height: 156px;
    width: calc(100vw - 110px);
}

.cat_items_name{
    position: absolute;
    top:220px;
    left: 110px;
    display: flex;
    height: 35px;
    width: calc(100vw - 110px);

}

.img2{
    position: absolute;
    left: 14.5rem;
}

.img3{
    position: absolute;
    left: 29rem;
}

.img4{
    position: absolute;
    left: 44.5rem;
}
.img5{
    position: absolute;
    left: 59rem;
}

.img6{
    position: absolute;
    left: 73rem;
}
.name1{
    position: absolute;
    top: 1px;
    left: 1.8rem;
    font-size: 20px;
    font-family: sans-serif;
}


.name2{
    position: absolute;
    top: 1px;
    left: 16.5rem;
    font-size: 20px;
    font-family: sans-serif;
}

.name3{
    position: absolute;
    top: 1px;
    left: 31rem;
    font-size: 22px;
    font-family: sans-serif;
}

.name4{
    position: absolute;
    top: 1px;
    left: 44.6rem;
    font-size: 22px;
    font-family: sans-serif;
}
.name5{
    position: absolute;
    top: 1px;
    left: 58.5rem;
    font-size: 22px;
    font-family: sans-serif;
}

.name6{
    position: absolute;
    top: 1px;
    left: 73rem;
    font-size: 22px;
    font-family: sans-serif;
}



.parentcontainer{
    height: 260px;
}

.container2{
    background-color: #07b480;
    height: 15rem;
    margin-top: 12px;
    border-radius: 10px;
    position: relative;
    left: 6rem;
    width: calc(100vw - 13rem);
}
.picture{
    position:absolute;
    left: 0rem;
    top: 0rem;
}
.content{
    color: white;
    width: 30%;
    height: 15rem;
    margin-left: 11rem;
    font-family: 'Poppins', sans-serif;
    padding-top: 14px;
}
.content>p{
    font-family: sans-serif;
}
.button1{
    margin-right: 10rem;
    display: flex;
    width: 44%;
    margin-left: 59rem;
    margin-top: -75px;
    height: 58px;
    /* font-family: 'Poppins', sans-serif; */

   
}
.button1>button{
    background-color:white;
    width: 13rem;
    border-radius: 31px;
    border: 1px solid white;
    font-family: cursive
}

.latestOffering{
    height: 450px;
    position: relative;
    font-family: sans-serif;
    font-size: 22px;
}

.offer_heading{
    position: absolute;
    top: 1.3rem;
    left: 6rem;
}

.offer_banners{
    position: absolute;
    top: 5rem;
    left: 6rem;
    height: 350px;
    width: 1340px;
}

.banner1{
    position: absolute;
    top: 1rem;
    height: 250px;
    width: 400px;
    border: 1px solid gray;
}

.banner2{
    position: absolute;
    top: 1rem;
    left: 460px;
    height: 250px;
    width: 400px;
    border: 1px solid gray;
}

.banner3{
    position: absolute;
    top: 0rem;
    left: 460px;
    height: 250px;
    width: 400px;
    border: 1px solid gray;
}
.top1img{
    position: absolute;
    top: 0rem;
    height: 150px;
}

.top1cont{
    position: absolute;
    top: 120px;
    height: 100px;
    width: 400px;
    font-family: sans-serif;
    padding-top: 40px;
    font-size: 15px;
}

.top2img{
    position: absolute;
    top: 0rem;
    height: 150px;
}

.top2cont{
    position: absolute;
    top: 120px;
    height: 100px;
    width: 400px;
    font-family: sans-serif;
    padding-top: 40px;
    font-size: 15px;
}

.top3img{
    position: absolute;
    top: 0rem;
    height: 150px;
}

.top3cont{
    position: absolute;
    top: 120px;
    height: 100px;
    width: 400px;
    font-family: sans-serif;
    padding-top: 40px;
    font-size: 15px;
}